main
xkillr
configure
build
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh
*.la
*.lo
*.o
*.Plo

*.dirstamp
ar-lib
src/include/config.h
src/include/stamp-h1
src/stamp-h1
/.deps
